.title {
  text-transform: uppercase;
}

.subtitle {
  margin-top: var(--mantine-spacing-xs);
}

.loginButton {
  outline: 1px solid light-dark(var(--mantine-color-dark-filled), var(--mantine-color-skin));
}

.signupText {
  margin-top: var(--mantine-spacing-xs);
}

.signupLink {
  @include hover {
    // color: light-dark(var(--mantine-color-dark-filled), var(--mantine-color-white));
  }
}
